{% extends "layout.html" %}

{% block title %}

{% endblock %}

{% block main %}

    <!-- Container -->
    <div id="wrapper">
      {% include 'header.html' %}
      <div id="game-container">
        <div id="game-and-top-container">
          <div id="top-container">

            <button id="start-game-button" onclick="toggleGameState()">START GAME</button>

            <div id="game-info-container">

              <div id="moves-container" class="game-info">
                <h5 class="game-info-header">MOVES</h5>
                <p id="moves-counter" class="game-info-counter">0</p>
              </div>

              <div id="time-container" class="game-info">
                <h5 class="game-info-header">TIME</h5>
                <p id="time-counter" class="game-info-counter">00:00</p>
              </div>

            </div>
          </div>

          <div id="game-board">

            <div id="big-start-game-button" onclick="toggleGameState()">
              <h5 id="big-game-button">Start<br>Game</h5>
            </div>

            <div id="compleated-screen">
              <h5 id="finished-text"></h5>
              <p id="submit-score-style">Submit your score to the leaderboard:</p>

              <form onsubmit="saveToLeaderboard()">
                  <div id="leaderboard-submission">
                    <input id="nickname-input" name="nickname" maxlength="10" placeholder="Enter a nickname" type="text">
                    <button id="submit-button" type="submit">Submit</button>
                  </div>
              </form>

            </div>

            <div id="square1" class="square" onclick="moveSquare(this)">1</div>
            <div id="square2" class="square" onclick="moveSquare(this)">2</div>
            <div id="square3" class="square" onclick="moveSquare(this)">3</div>
            <div id="square4" class="square" onclick="moveSquare(this)">4</div>
            <div id="square5" class="square" onclick="moveSquare(this)">5</div>
            <div id="square6" class="square" onclick="moveSquare(this)">6</div>
            <div id="square7" class="square" onclick="moveSquare(this)">7</div>
            <div id="square8" class="square" onclick="moveSquare(this)">8</div>
            <div id="square9" class="square" onclick="moveSquare(this)">9</div>
            <div id="square10" class="square" onclick="moveSquare(this)">10</div>
            <div id="square11" class="square" onclick="moveSquare(this)">11</div>
            <div id="square12" class="square" onclick="moveSquare(this)">12</div>
            <div id="square13" class="square" onclick="moveSquare(this)">13</div>
            <div id="square14" class="square" onclick="moveSquare(this)">14</div>
            <div id="square15" class="square" onclick="moveSquare(this)">15</div>
            <div id="square-empty" class="square"></div>
          </div>
        </div>
        {% include 'leaderboard.html' %}
      </div>
      {% include 'footer.html' %}
    </div>
{% endblock %}
