<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="styles.css" rel="stylesheet">
        <link href="game-screen-styles.css" rel="stylesheet">
        <title>Game Of 8</title>
    </head>
    <body>
        <div id="wrapper">
            <h1 id="loser-button">Better luck next time</h1>
            <button id="winner-home-button"><a id="home-button" href="index.html">Back to home</a></button>
            <p id="footer-text">James Anglim Harverd CS50</p>
        </div>
    </body>